/*******************************
 *** Imports (must be first) ***
 *******************************/
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}
.token.punctuation {
	color: #f8f8f2;
}
.namespace {
	opacity: .7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}
.token.boolean,
.token.number {
	color: #ae81ff;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}
.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}
.token.keyword {
	color: #66d9ef;
}
.token.regex,
.token.important {
	color: #fd971f;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
/*******************************
 ********** Variables **********
 *******************************/
:root {
  /***** FONTS *****/

  /***** COLORS *****/
  /* dark background colors */
  /* This matches a color from our prism-okaidia syntax highlighting theme */

  /***** WIDTHS *****/
}
/*******************************
 ********* Site Styles *********
 *******************************/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* Cross-browser support of CSS-hidden iframe scrollbars */
iframe[scrolling='no'] {
  overflow: hidden;
}
.header {
  text-align: center;
  padding: 0 42px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  /* prevents the github ribbon from leaking out
     of the header and overlapping form inputs */
  overflow: hidden;
  position: relative
}
@media (min-width: 500px) {
  .header {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  }
.title {
  font-family: 'Ubuntu', 'Source Sans Pro', Verdana, sans-serif;
  font-size: 18px
}
@media (min-width: 500px) {
  .title {
    font-size: 32px;
  }
  }
.description {
  font-size: 14px
}
@media (min-width: 500px) {
  .description {
    font-size: 16px;
  }
  }
.selection-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 12vw;
  background-color: #eaeaea;

  -ms-flex-preferred-size: auto;

      flex-basis: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0
}
@media (min-width: 500px) {
  .selection-bar {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  }
.selection-bar > label {
  text-align: center;
  list-style-type: none;
  font-size: 14px;
  padding: 4px 9px;
  margin: 4px;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1px 6px -3px black;
}
@media (min-width: 500px) {
  .selection-bar > label {
    font-size: 16px;
    padding: 6px 12px;
  }
}
.selection-bar > label:hover {
  background-color: #111111;
  color: white;
}
.selection-bar input[type="radio"] {
  display: none;
}
.selection-bar input[type="radio"]:checked {/* library-specific colors */
}
.selection-bar input[type="radio"]:checked + label {
  background-color: #111111;
}
.selection-bar input[type="radio"]:checked + .label-css {
  color: #16A1DC;
}
.selection-bar input[type="radio"]:checked + .label-vanillajs {
  color: #F0DB4F;
}
.selection-bar input[type="radio"]:checked + .label-p5 {
  color: #EC245E;
}
.selection-bar input[type="radio"]:checked + .label-greensock {
  color: #88CE02;
}
.selection-bar input[type="radio"]:checked + .label-jquery {
  color: #0769AD;
}
.selection-bar input[type="radio"]:checked + .label-velocity {
  color: #FFFFFF;
}
.selection-bar input[type="radio"]:checked + .label-webanimations {
  color: #E44D26;
}
.selection-bar input[type="radio"]:checked + .label-smil {
  color: #FFB13B;
}
.selection-bar input[type="radio"]:checked + .label-mojs {
  color: #613961;
}
.selection-bar input[type="radio"]:checked + .label-anime {
  color: #AE27E7;
}
.selection-bar input[type="radio"]:checked + .label-react {
  color: #00CFFF;
}
.demo-frame {
  width: 66px; /* 50px ball + 8px margin left/right */
  height: 226px; /* 160px range + 50px ball + 8px margin top/bottom */
  border: none;
}
.panes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;

  /* Solves a Firefox issue. See: http://stackoverflow.com/a/29400042/1154642 */
  min-height: 0;

  /* Solves an IE issue. See: https://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview */
  height: 100%;

  -ms-flex-preferred-size: auto;

      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.docs-pane {
  display: none;
  background-color: #151515;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1
}
.docs-pane a {
  color: #e6db74;
}
.docs-pane_is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.docs-pane-content {
  color: white;
  width: 100%;
  font-size: 0.85em;
  padding: 0 16px 16px 17.6px;
  padding: 0 1rem 1rem 1.1rem;

  /* Provides a constant background for the more/less link */
  margin-top: 40px;
  margin-top: 2.5rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}
@media (min-width: 500px) {
  .docs-pane-content {
    padding-left: 1.3rem;
  }
  }
@media (min-width: 780px) {
  .docs-pane-content {
    font-size: 1em;
  }
  }
.docs-pane-content h1:first-of-type {
  margin-top: 0;
}
.docs-toggle {
  position: absolute;
  top: 8.8px;
  top: 0.55rem;
  left: 17.6px;
  left: 1.1rem;
  z-index: 1;
  width: calc(40% - 1.1rem);
  min-width: calc(160px - 1.1rem)
}
@media (min-width: 500px) {
  .docs-toggle {
    top: 0.75rem;
    left: 1.3rem;
    width: calc(40% - 1.3rem);
    min-width: calc(160px - 1.3rem);
  }
  }
.docs-toggle-link {
  font-size: 10px;
  color: #e6db74
}
.docs-toggle-link::before {
  content: 'More ';
}
@media (min-width: 500px) {
  .docs-toggle-link {
    font-size: 13px;
  }
  }
.button-link {
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}
.docs-toggle-link_is-less::before {
  content: 'Less '
}
.credit {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 12px;
  text-align: center;
  color: #49525a;
  border-top: 1px solid #1d1d1d;
  background-color: #111111;
  padding: 3px 0

  /* preserve vertical space by hiding the credit on short screens */
}
.credit :link,.credit :visited {
  color: #49525a;
}
@media (max-height: 560px) {
  .credit {
    display: none;
  }
  }
.unsupported {
  color: white;
  width: 50%;
  text-align: center;
}
.unsupported::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin: 16px auto;
  margin: 1rem auto;
  background-image: url('../assets/images/sad.svg');
}
.unsupported-details {
  color: #e6db74;
}
.preview-pane {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  min-width: 160px;
  /* clips the bouncing ball, if the frame is too short */
  overflow: hidden;
}
.source-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}
.source-pane > pre {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #1d1d1d;
  border-radius: 0;
  font-size: 0.75em;
  margin: 0;
  padding: 1.5em 0.5em 0.5em 1.5em;/* note: detailed source code styles are provided by prismjs */
}
@media (min-width: 900px) {
  .source-pane > pre {
    font-size: 0.9em;
  }
}
.prism-show-language {
  right: 0;
  top: 0;
  padding: 2px 5px;
  color: white;
  background: #49525a;
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
}
code {
  font-family: 'Source Code Pro', 'Courier', monospace
}
code a {/* causes autolinker links to inherit their respective syntax-
       highlighted colors instead of being default-link-blue. */
  color: inherit;
}
.ribbon {
  max-width: 24vw;
  max-height: 138px;
}
