/*******************************
 *** Imports (must be first) ***
 *******************************/
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}
.token.punctuation {
	color: #f8f8f2;
}
.namespace {
	opacity: .7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}
.token.boolean,
.token.number {
	color: #ae81ff;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}
.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}
.token.keyword {
	color: #66d9ef;
}
.token.regex,
.token.important {
	color: #fd971f;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
/*******************************
 ********** Variables **********
 *******************************/
:root {
  /***** FONTS *****/
  --titleFont: 'Ubuntu', 'Source Sans Pro', Verdana, sans-serif;
  --copyFont: 'Source Sans Pro', Verdana, sans-serif;
  --sourceFont: 'Source Code Pro', 'Courier', monospace;

  /***** COLORS *****/

  /* dark background colors */
  --previewDark: #111111;
  --docsDark: #151515;
  --sourceDark: #1d1d1d;
  --secondaryInfo: #49525a;

  /* This matches a color from our prism-okaidia syntax highlighting theme */
  --linkYellow: #e6db74;

  /***** WIDTHS *****/
  --paneMinWidth: 160px;
  --docsLeftPadding: 1.1rem;
  --docsLeftPaddingMedium: 1.3rem;
}
/*******************************
 ********* Site Styles *********
 *******************************/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  font-family: var(--copyFont);
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
/* Cross-browser support of CSS-hidden iframe scrollbars */
iframe[scrolling='no'] {
  overflow: hidden;
}
/*
  We like focus rings, but only when a person is tabbing (not clicking).
  Thus, we scope all focus ring suppression to a "no-focus" class, which
  is added to the body tag when a person is clicking, and removed when a
  person is tabbing. Same idea as https://github.com/lindsayevans/outline.js
*/
.no-focus :focus {
  outline: 0;
}
.no-focus ::-moz-focus-inner {
  border: 0;
}
.header {
  text-align: center;
  padding: 0 42px;
  flex-basis: auto;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;

  /* prevents the github ribbon from leaking out
     of the header and overlapping form inputs */
  overflow: hidden;
  position: relative
}
@media (min-width: 500px) {
.header {
    padding-top: 6px;
    padding-bottom: 6px
}
  }
.title {
  font-family: 'Ubuntu', 'Source Sans Pro', Verdana, sans-serif;
  font-family: var(--titleFont);
  font-size: 18px
}
@media (min-width: 500px) {
.title {
    font-size: 32px
}
  }
.description {
  font-size: 14px
}
@media (min-width: 500px) {
.description {
    font-size: 16px
}
  }
.selection-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  padding: 14px 12vw;
  background-color: #eaeaea;

  flex-basis: auto;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0
}
@media (min-width: 500px) {
.selection-bar {
    padding-top: 16px;
    padding-bottom: 16px
}
  }
.nav-button {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  font-family: var(--copyFont);
  font-size: 14px;
  padding: 4px 9px;
  margin: 4px;
  border: 0;
  border-radius: 16px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 1px 6px -3px black
}
@media (min-width: 500px) {
.nav-button {
    font-size: 16px;
    padding: 6px 12px
}
  }
.nav-button:link {
    color: black;
  }
.nav-button:visited {
    color: black;
  }
.nav-button:hover {
    background-color: #111111;
    background-color: var(--previewDark);
    color: white;
  }
.nav-button.is-active {
    background-color: #111111;
    background-color: var(--previewDark)

    /* library-specific colors */

    /* stylelint-disable */
  }
.nav-button.is-active.button-matterjs      { color: #76F09B; }
.nav-button.is-active.button-greensock     { color: #88CE02; }
.nav-button.is-active.button-vanillajs     { color: #F0DB4F; }
.nav-button.is-active.button-smil          { color: #FFB13B; }
.nav-button.is-active.button-d3            { color: #FF7B39; }
.nav-button.is-active.button-p5            { color: #EC245E; }
.nav-button.is-active.button-webanimations { color: #E44D26; }
.nav-button.is-active.button-gif           { color: #EE88E3; }
.nav-button.is-active.button-anime         { color: #AE27E7; }
.nav-button.is-active.button-mojs          { color: #613961; }
.nav-button.is-active.button-jquery        { color: #0769AD; }
.nav-button.is-active.button-css           { color: #16A1DC; }
.nav-button.is-active.button-react         { color: #00CFFF; }
.nav-button.is-active.button-velocity      { color: #FFFFFF; }
.nav-button.is-active.button-video         { color: #CFD1AD; }
.nav-button.is-active.button-cssstep       { color: #808080; }
.nav-button.is-active.button-webgl         { color: #AAAAAA; }
.nav-button.is-active.button-flash         { color: #FF00FF; }
.nav-button.is-active.button-popmotion     { color: #FF1C68; }
.nav-button.is-active.button-lottie        { color: #00E3C7; }
.nav-button.is-active {
    /* stylelint-enable */
  }
.demo-frame {
  width: 66px; /* 50px ball + 8px margin left/right */
  height: 226px; /* 160px range + 50px ball + 8px margin top/bottom */
  border: none;
}
.panes {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
          align-items: stretch;
  position: relative;

  /* Solves a Firefox issue. See: http://stackoverflow.com/a/29400042/1154642 */
  min-height: 0;

  /* Solves an IE issue. See: https://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview */
  height: 100%;

  flex-basis: auto;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 1;
}
.docs-pane {
  display: none;
  background-color: #151515;
  background-color: var(--docsDark);
  flex-basis: 400px;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 1
}
.docs-pane a {
    color: #e6db74;
    color: var(--linkYellow);
  }
.docs-pane_is-open {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
          align-items: stretch;
}
.docs-pane-content {
  color: white;
  width: 100%;
  font-size: 0.85em;
  padding: 0 1rem 1rem 1.1rem;
  padding: 0 1rem 1rem var(--docsLeftPadding);

  /* Provides a constant background for the more/less link */
  margin-top: 2.5rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}
@media (min-width: 500px) {
.docs-pane-content {
    padding-left: 1.3rem;
    padding-left: var(--docsLeftPaddingMedium)
}
  }
@media (min-width: 780px) {
.docs-pane-content {
    font-size: 1em
}
  }
.docs-pane-content h1:first-of-type {
    margin-top: 0;
  }
.docs-toggle {
  position: absolute;
  top: 0.55rem;
  left: 1.1rem;
  left: var(--docsLeftPadding);
  z-index: 1;
  width: calc(40% - 1.1rem);
  width: calc(40% - var(--docsLeftPadding));
  min-width: calc(160px - 1.1rem);
  min-width: calc(var(--paneMinWidth) - var(--docsLeftPadding))
}
@media (min-width: 500px) {
.docs-toggle {
    top: 0.75rem;
    left: 1.3rem;
    left: var(--docsLeftPaddingMedium);
    width: calc(40% - 1.3rem);
    width: calc(40% - var(--docsLeftPaddingMedium));
    min-width: calc(160px - 1.3rem);
    min-width: calc(var(--paneMinWidth) - var(--docsLeftPaddingMedium))
}
  }
.docs-toggle-link {
  font-size: 10px;
  color: #e6db74;
  color: var(--linkYellow)
}
.docs-toggle-link::before {
    content: 'More ';
  }
@media (min-width: 500px) {
.docs-toggle-link {
    font-size: 13px
}
  }
.button-link {
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  font-family: var(--copyFont);
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}
.docs-toggle-link_is-less::before {
  content: 'Less ';
}
.credit {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px;
  text-align: center;
  color: #49525a;
  color: var(--secondaryInfo);
  border-top: 1px solid #1d1d1d;
  border-top: 1px solid var(--sourceDark);
  background-color: #111111;
  background-color: var(--previewDark);
  padding: 3px 0
}
.credit :link,.credit :visited {
    color: #49525a;
    color: var(--secondaryInfo);
  }
.credit :-webkit-any-link {
    color: #49525a;
    color: var(--secondaryInfo);
  }
.credit :-moz-any-link {
    color: #49525a;
    color: var(--secondaryInfo);
  }
.credit :any-link {
    color: #49525a;
    color: var(--secondaryInfo);
  }
.credit {

  /* preserve vertical space by hiding the credit on short screens */
}
@media (max-height: 560px) {
.credit {
    display: none
}
  }
.unsupported {
  color: white;
  width: 50%;
  text-align: center;
}
.unsupported::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin: 1rem auto;
  background-image: url('../assets/images/sad.svg');
}
.unsupported-details {
  color: #e6db74;
  color: var(--linkYellow);
}
.preview-pane {
  background-color: #111111;
  background-color: var(--previewDark);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  flex-basis: 40%;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 2;
  min-width: 160px;
  min-width: var(--paneMinWidth);

  /* clips the bouncing ball, if the frame is too short */
  overflow: hidden;
}
.source-pane {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 60%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}
.source-pane > pre {
    -webkit-box-flex: 1;
            flex-grow: 1;
    background-color: #1d1d1d;
    background-color: var(--sourceDark);
    border-radius: 0;
    font-size: 0.75em;
    margin: 0;
    padding: 1.5em 0.5em 0.5em 1.5em

    /* note: detailed source code styles are provided by prismjs */
  }
@media (min-width: 900px) {
.source-pane > pre {
      font-size: 0.9em
  }
    }
.prism-show-language {
  right: 0;
  top: 0;
  padding: 2px 5px;
  color: white;
  background: #49525a;
  background: var(--secondaryInfo);
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
}
code {
  font-family: 'Source Code Pro', 'Courier', monospace;
  font-family: var(--sourceFont)
}
code a {
    /* causes autolinker links to inherit their respective syntax-
       highlighted colors instead of being default-link-blue. */
    color: inherit;
  }
.ribbon {
  max-width: 24vw;
  max-height: 138px;
}
