/* See the sprite image we needed to create for this animation:
   https://sparkbox.github.io/bouncy-ball/examples/css-step/image.gif
*/
ball {
  display: block;
  width: 66px;
  height: 210px;
  background: url(image.gif) no-repeat;
  animation: bounce 1.15s steps(57) infinite;
}

@keyframes bounce {
  from {
    background-position: 0;
  }

  to {
    background-position: -3762px;
  }
}

