/* colors for navigation buttons and bouncy balls */
:root {
  --matterjs:      #76F09B;
  --greensock:     #88CE02;
  --vanillajs:     #F0DB4F;
  --smil:          #FFB13B;
  --d3:            #FF7B39;
  --p5:            #EC245E;
  --webanimations: #E44D26;
  --gif:           #EE88E3;
  --anime:         #AE27E7;
  --mojs:          #613961;
  --jquery:        #0769AD;
  --css:           #16A1DC;
  --react:         #00CFFF;
  --velocity:      #FFFFFF;
  --video:         #CFD1AD;
  --cssstep:       #808080;
  --webgl:         #AAAAAA;
  --flash:         #FF00FF;
  --popmotion:     #FF1C68;
  --lottie:        #00E3C7;
}
