/*******************************
 *** Imports (must be first) ***
 *******************************/
@import "prism-okaidia";


/*******************************
 ********** Variables **********
 *******************************/
@custom-media --midphone-plus (width >= 500px);
@custom-media --tablet-plus (width >= 780px);
@custom-media --megatablet-plus (width >= 900px);
@custom-media --short-screens (height <= 560px);

:root {
  /***** FONTS *****/
  --titleFont: 'Ubuntu', 'Source Sans Pro', Verdana, sans-serif;
  --copyFont: 'Source Sans Pro', Verdana, sans-serif;
  --sourceFont: 'Source Code Pro', 'Courier', monospace;

  /***** COLORS *****/
  /* dark background colors */
  --previewDark: #111111;
  --docsDark: #151515;
  --sourceDark: #1d1d1d;
  --secondaryInfo: #49525a;
  /* This matches a color from our prism-okaidia syntax highlighting theme */
  --linkYellow: #e6db74;

  /***** WIDTHS *****/
  --paneMinWidth: 160px;
  --docsLeftPadding: 1.1rem;
  --docsLeftPaddingMedium: 1.3rem;
}


/*******************************
 ********* Site Styles *********
 *******************************/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: var(--copyFont);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Cross-browser support of CSS-hidden iframe scrollbars */
iframe[scrolling='no'] {
  overflow: hidden;
}

.header {
  text-align: center;
  padding: 0 42px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  /* prevents the github ribbon from leaking out
     of the header and overlapping form inputs */
  overflow: hidden;
  position: relative;

  @media (--midphone-plus) {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
.title {
  font-family: var(--titleFont);
  font-size: 18px;

  @media (--midphone-plus) {
    font-size: 32px;
  }
}
.description {
  font-size: 14px;

  @media (--midphone-plus) {
    font-size: 16px;
  }
}

.selection-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 14px 12vw;
  background-color: #eaeaea;

  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  @media (--midphone-plus) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  & > label {
    text-align: center;
    list-style-type: none;
    font-size: 14px;
    padding: 4px 9px;
    margin: 4px;
    border-radius: 16px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 1px 6px -3px black;

    @media (--midphone-plus) {
      font-size: 16px;
      padding: 6px 12px;
    }

    &:hover {
      background-color: var(--previewDark);
      color: white;
    }
  }

  & input[type="radio"] {
    display: none;

    &:checked {
      & + label {
        background-color: var(--previewDark);
      }

      /* library-specific colors */
      & + .label-css           { color: #16A1DC; }
      & + .label-vanillajs     { color: #F0DB4F; }
      & + .label-p5            { color: #EC245E; }
      & + .label-greensock     { color: #88CE02; }
      & + .label-jquery        { color: #0769AD; }
      & + .label-velocity      { color: #FFFFFF; }
      & + .label-webanimations { color: #E44D26; }
      & + .label-smil          { color: #FFB13B; }
      & + .label-mojs          { color: #613961; }
      & + .label-anime         { color: #AE27E7; }
      & + .label-react         { color: #00CFFF; }
      & + .label-d3            { color: #FF7B39; }
    }
  }
}


.demo-frame {
  width: 66px; /* 50px ball + 8px margin left/right */
  height: 226px; /* 160px range + 50px ball + 8px margin top/bottom */
  border: none;
}

.panes {
  display: flex;
  align-items: stretch;
  position: relative;

  /* Solves a Firefox issue. See: http://stackoverflow.com/a/29400042/1154642 */
  min-height: 0;

  /* Solves an IE issue. See: https://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview */
  height: 100%;

  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.docs-pane {
  display: none;
  background-color: var(--docsDark);
  flex-basis: 400px;
  flex-grow: 0;
  flex-shrink: 1;

  & a {
    color: var(--linkYellow);
  }
}

.docs-pane_is-open {
  display: flex;
  align-items: stretch;
}

.docs-pane-content {
  color: white;
  width: 100%;
  font-size: 0.85em;
  padding: 0 1rem 1rem var(--docsLeftPadding);

  /* Provides a constant background for the more/less link */
  margin-top: 2.5rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @media (--midphone-plus) {
    padding-left: var(--docsLeftPaddingMedium);
  }

  @media (--tablet-plus) {
    font-size: 1em;
  }

  & h1:first-of-type {
    margin-top: 0;
  }
}

.docs-toggle {
  position: absolute;
  top: 0.55rem;
  left: var(--docsLeftPadding);
  z-index: 1;
  width: calc(40% - var(--docsLeftPadding));
  min-width: calc(var(--paneMinWidth) - var(--docsLeftPadding));

  @media (--midphone-plus) {
    top: 0.75rem;
    left: var(--docsLeftPaddingMedium);
    width: calc(40% - var(--docsLeftPaddingMedium));
    min-width: calc(var(--paneMinWidth) - var(--docsLeftPaddingMedium));
  }
}

.docs-toggle-link {
  font-size: 10px;
  color: var(--linkYellow);

  &::before {
    content: 'More ';
  }

  @media (--midphone-plus) {
    font-size: 13px;
  }
}

.button-link {
  font-family: var(--copyFont);
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.docs-toggle-link_is-less::before {
  content: 'Less '
}

.credit {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px;
  text-align: center;
  color: var(--secondaryInfo);
  border-top: 1px solid var(--sourceDark);
  background-color: var(--previewDark);
  padding: 3px 0;

  & :any-link {
    color: var(--secondaryInfo);
  }

  /* preserve vertical space by hiding the credit on short screens */
  @media (--short-screens) {
    display: none;
  }
}

.unsupported {
  color: white;
  width: 50%;
  text-align: center;
}
.unsupported::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin: 1rem auto;
  background-image: url('../assets/images/sad.svg');
}

.unsupported-details {
  color: var(--linkYellow);
}

.preview-pane {
  background-color: var(--previewDark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 2;
  min-width: var(--paneMinWidth);
  /* clips the bouncing ball, if the frame is too short */
  overflow: hidden;
}

.source-pane {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 60%;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  & > pre {
    flex-grow: 1;
    background-color: var(--sourceDark);
    border-radius: 0;
    font-size: 0.75em;
    margin: 0;
    padding: 1.5em 0.5em 0.5em 1.5em;

    /* note: detailed source code styles are provided by prismjs */

    @media (--megatablet-plus) {
      font-size: 0.9em;
    }
  }
}

.prism-show-language {
  right: 0;
  top: 0;
  padding: 2px 5px;
  color: white;
  background: var(--secondaryInfo);
  position: absolute;
  font-size: 10px;
  text-transform: uppercase;
}

code {
  font-family: var(--sourceFont);

  & a {
    /* causes autolinker links to inherit their respective syntax-
       highlighted colors instead of being default-link-blue. */
    color: inherit;
  }
}

.ribbon {
  max-width: 24vw;
  max-height: 138px;
}
