/* Prism Styles */
@import "prism-okaidia";

/* Site Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  text-align: center;
  margin: 6px;
  border: 1px solid transparent;
}
.title {
  font-family: 'Ubuntu', 'Source Sans Pro', Verdana, sans-serif;
}
.selection-bar {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  box-shadow: inset 0 1px 6px -3px #000;

  /* layout */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 12vw;
  flex-shrink: 0;
}
.selection-bar > label {
  text-align: center;
  list-style-type: none;
  margin: 4px;
  padding: 6px 12px;
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 1px 6px -3px #000;
}
.selection-bar > label:hover {
  background-color: #111;
  color: white;
}
input[type="radio"] {
  opacity: 0;
  position: absolute;
}
input[type="radio"]:checked + label {
  background-color: #111;
}
/* library-specific colors */
input[type="radio"]:checked + .label-css { color: #16A1DC; }
input[type="radio"]:checked + .label-vanillajs { color: #F0DB4F; }
input[type="radio"]:checked + .label-p5 { color: #EC245E; }
input[type="radio"]:checked + .label-greensock { color: #88CE02; }
input[type="radio"]:checked + .label-jquery { color: #0769AD; }
input[type="radio"]:checked + .label-velocity { color: white; }
input[type="radio"]:checked + .label-webanimations { color: #E44D26; }

.demo-frame {
  width: 66px; /* 50px ball + 8px margin left/right */
  height: 226px; /* 160px range + 50px ball + 8px margin top/bottom */
  border: none;
}

.demo-name {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.demo-name > h2 {
  font-family: 'Ubuntu', 'Source Sans Pro', Verdana, sans-serif;
  display: inline;
  background: #666;
  padding: 5px 20px;
}

.panes {
  display: flex;
  align-items: stretch;
  position: relative;
  flex-basis: 100%;
}
.pane {
  width: 50%;
}
.preview-pane {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.source-pane {
  overflow-y: scroll;
}

.source-pane > pre {
  background-color: #292929;
  border-left: 11px solid #383838;
  color: #f7f7f7;
  font-family: 'Source Code Pro', 'Courier', monospace;
  font-size: 0.9em;
  line-height: 1.4;
  margin: 0;
  overflow-x: scroll;
  padding: 3em 0.5em 0.5em 0.7em;
  height: 100%;
}
code {
  font-family: inherit;
}
